[user]
    name = Mike Rooney
    email = mrooneyunc@gmail.com
[credential]
    helper = osxkeychain
[gitreview]
    username = merooney
[core]
    editor = nvim
[init]
	templatedir = ~/.git_template
